language: php
php:
  - 5.6
  - 7.0
  - 7.1

before_install:
  - cd ..
  - git clone https://github.com/owncloud/core.git
  - mv impersonate core/apps/
  - cd core
  - git submodule init
  - git submodule update
  - cd apps/impersonate/tests

script:
  - phpunit tests
