parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  excludePaths:
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
    -
      message: '#Property OCA\\Impersonate\\Controller\\LogoutController::\$tokenProvider is never read, only written.#'
      path: controller/logoutcontroller.php
    -
      message: '#Parameter \#3 \$default of method OCP\\IAppConfig::getValue\(\) expects string\|null, false given.#'
      path: controller/settingscontroller.php
