name: CI

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
    contents: read

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  php-code-style:
    name: PHP Code Style
    uses: ./.github/workflows/php-codestyle.yml
    with:
      app-name: impersonate
      php-versions: '["8.1", "8.2", "8.3"]'

  semantic-git-messages:
    name: Commits
    uses: owncloud/reusable-workflows/.github/workflows/semantic-git-message.yml@work/semantic

