on:
  workflow_call:
    inputs:
      app-name:
        description: 'Name of the app'
        required: true
        type: string
      php-versions:
        description: JSON array of PHP versions
        required: true
        type: string

jobs:
  php-unit:
    name: PHP Unit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: ${{ fromJSON(inputs.php-versions) }}
        database: [sqlite]
        include:
          - php: "7.4"
            database: "mysql:8.0"

    services:
      mysql:
        image: ${{ startsWith(matrix.database,'mysql:') && matrix.database || '' }}
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: owncloud
        options: >-
          --health-cmd="mysqladmin ping -u root -ppassword"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
        ports:
          - 3306:3306

    steps:
      - name: Clone owncloud/core
        uses: actions/checkout@v4
        with:
          repository: owncloud/core

      - name: Checkout apps/${{ inputs.app-name }}
        uses: actions/checkout@v4
        with:
          path: apps/${{ inputs.app-name }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, gd, json, xml, zip
          ini-values: "memory_limit=1024M"

      - name: Wait for MySQL service to be ready
        if: ${{ startsWith(matrix.database, 'mysql:') }}
        run: |
          timeout 60 bash -c 'until mysqladmin ping -h localhost -u root -ppassword > /dev/null 2>&1; do sleep 1; done'

      - name: Install Composer dependencies
        run: |
          make install-composer-deps
          make vendor-bin-deps

      - name: Install Server
        env:
          DATA_DIRECTORY: ${{ github.workspace }}/data
          DB_TYPE: ${{ matrix.database }}
        run: |
          bash tests/drone/install-server.sh

      - name: Setup App
        run: |
          php occ a:e ${{ inputs.app-name }}

      - name: Run PHPUnit
        run: |
          cd apps/${{ inputs.app-name }}
          make test-php-unit

